@import "_misc/adjustment.scss";

html,body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    @extend %font-main;
    background-color: $bg-color;
    color: $text-light;
}

a {
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
    }
    
    &:active {
        text-decoration: none;
    }
    
    &:visited {
        text-decoration: none;
    }
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  min-width: $container-width +20px;
    
    &::after {
        content: "";
        display: block;
        min-height: $footer-height;
    }
    
}

.container {
    width: $container-width;
    margin: 0 auto;
}

@import "_misc/header.scss"; 
@import "_misc/content.scss";


@import "_misc/footer.scss"; 


