/*VARS*/
/* line 21, G:/STUDY/WEB/portfolio_my/css/_misc/adjustment.scss */
.content-title {
  font-size: 35px;
  font-family: "Myriad Pro", Arial, sans-serif;
  line-height: 1;
  font-weight: bold; }

/* line 28, G:/STUDY/WEB/portfolio_my/css/_misc/adjustment.scss */
.main-menu-link_active {
  font-size: 18px;
  font-family: "Myriad Pro", Arial, sans-serif;
  line-height: 1.44;
  font-weight: bold; }

/* line 36, G:/STUDY/WEB/portfolio_my/css/_misc/adjustment.scss */
.content .container::after, .content__right::after {
  content: '';
  display: block;
  clear: both; }

/* line 43, G:/STUDY/WEB/portfolio_my/css/_misc/adjustment.scss */
.main-menu, .career__list {
  padding: 0;
  margin: 0; }

/* line 4, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.content .container {
  padding: 30px 0; }

/* line 10, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.content__left {
  float: left;
  width: 240px; }

/* line 15, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.main-menu {
  list-style: none; }

/* line 24, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.main-menu-link {
  display: block;
  height: 45px;
  text-align: right;
  text-decoration: none;
  color: #414141;
  padding: 10px 25px 10px 0;
  border-right: 6px solid transparent; }
  /* line 33, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
  .main-menu-link:hover {
    color: #33c1e3;
    text-decoration: none;
    border-right: 6px solid #33c1e3; }

/* line 40, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.main-menu-link_active {
  color: #33c1e3;
  border-right: 6px solid #33c1e3; }

/* line 47, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.content__right {
  float: right;
  width: 700px; }

/* line 54, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.main-content__left {
  display: inline-block;
  float: left;
  width: 340px;
  text-align: center; }

/* line 61, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.content-pic {
  border: 1px solid #bebebe;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  width: 220px; }

/* line 66, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.content-career-pic {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  width: 220px; }

/* line 71, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.main-content__right {
  float: right;
  width: 360px;
  padding: 0; }

/* line 78, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.content-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px; }

/* line 85, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.content-text {
  max-height: 290px;
  margin-bottom: 50px;
  overflow: auto; }

/* line 91, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.content-download {
  text-align: right; }

/* line 95, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.content-download__link {
  display: inline-block;
  color: #e85f61;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  border: 2px solid #e85f61;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  /* line 106, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
  .content-download__link:hover {
    color: #ffffff;
    background-color: #e85f61;
    text-decoration: none; }

/* line 113, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.career-content__left {
  display: inline-block;
  float: left;
  width: 260px;
  text-align: center; }

/* line 120, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.career-content__right {
  float: right;
  width: 440px;
  padding: 0; }

/* line 128, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.career__list {
  list-style: none;
  text-align: right; }

/* line 134, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.career__item {
  padding-left: 80px; }

/* line 138, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.career__block {
  position: relative;
  width: 380px;
  padding: 20px;
  text-align: left;
  background: #ffffff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); }

/* line 149, G:/STUDY/WEB/portfolio_my/css/_misc/content.scss */
.carrer__title {
  font-weight: bold; }

/*# sourceMappingURL=content.css.map */