@import "adjustment.scss"; 

.content {
    .container{
        @extend %clearfix;
        padding: 30px 0;
    }
}

.content__left {
    float: left;
    width: 240px;
}

.main-menu {
    @extend %nulled;
    list-style: none;
}

.main-menu__item {
    
}

.main-menu-link {
    display: block;
    height: 45px;
    text-align: right;
    text-decoration: none;
    color: $text-dark;
    padding: 10px 25px 10px 0;
    border-right: 6px solid transparent;
    
    &:hover {
        color: $blue-color;
        text-decoration: none;
        border-right: 6px solid $blue-color;
    }
}

.main-menu-link_active {
    @extend %font-active;
    color: $blue-color;
    border-right: 6px solid $blue-color;
    
}

.content__right {
    float: right;
    width: 700px;
    @extend %clearfix;
}


.main-content__left {
    display: inline-block;
    float: left;
    width: 340px;
    text-align: center;
}

.content-pic {
    @include avatar-round(#bebebe);
    width: 220px;
}

.content-career-pic {
    @include border-radius(10px);
    width: 220px;
}

.main-content__right {
    float: right;
    width: 700px - 340px;
    padding: 0;
    
}

.content-title {
    padding: 0;
    margin: 0;
    @extend %font-h1;
    margin-bottom: 30px;
}

.content-text {
    max-height: 290px;
    margin-bottom: 50px;
    overflow: auto;
}

.content-download {
    text-align: right;
}

.content-download__link {
    display: inline-block;
    color: $red-color;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    border: 2px solid $red-color;
    @include border-radius(50px);
    
    &:hover {
        color: $white-color;
        background-color: $red-color;
        text-decoration: none;
    }
}

.career-content__left {
    display: inline-block;
    float: left;
    width: 260px;
    text-align: center;
}

.career-content__right {
    float: right;
    width: 700px - 260px;
    padding: 0;

}


.career__list {
    @extend %nulled;
    list-style: none;
    text-align: right;
}

.career__item {
    padding-left: 80px;
}

.career__block {
    position: relative;
    width: 380px;
    padding: 20px;
    text-align: left;
    background: $white-color;
    @include border-radius(10px);
    @include box-shadow(0px, 1px, 3px, rgba(0, 0, 0, 0.2));
    margin-bottom: 20px;
    
    &:after, &:before {
        position: absolute;
        right: 100%;
        content: "";
        display: block;
        width: 1px;
        background: $text-light;
        transform: translateX(-20px);
    }
    
    &:after {
        top: 50%;
        bottom: 0;
        margin-top: 10px;
        margin-bottom: -20px;
    }
    
    &:before {
        top: 0;
        bottom: 50%;
        margin-bottom: 15px;
    }
    
}



.career__item:last-child .career__block {
    &:after{
        display: none;
    }
}

.career__item:first-child .career__block {
    &:before{
        display: none;
    }
}

.career__item:hover {
    .career__block {
        background: $blue-color;
        color: $white-color;
    }
    
    .career__year {
        color: $blue-color;
        font-weight: bold;
        
        &:after {
            right: -23px;
            width: 18px;
            height: 18px;
            margin-top: -11px;
            border: 4px solid #94e0f2;
        }
    }
}

.carrer__title {
    font-weight: bold;
}

.career__year {
    position: absolute;
    top:50%;
    left: -65px;
    font-size: 14px;
    line-height: 30px;
    margin-top: -15px;
    
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -20px;
        display: block;
        width: 10px;
        height: 10px;
        @include border-radius(50%);
        background: $blue-color;
        margin-top: -7px;
        z-index: 2;
        
    }
}