@import "adjustment.scss"; 

.footer {
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: $text-dark;
    min-height: $footer-height;
    margin-top: -$footer-height;
}

.footer {
    .container {
        @extend %clearfix;
    }
}

.footer__left {
    float: left;
    width: 500px;
}

.copyright{
    padding: 15px 0;
    font-size: 14px;
}

.footer__right{
    float: right;
    width: 150px;
}

.social {
    @extend %nulled;
    list-style: none;
    padding: 10px 0;
    text-align: right;
}

.social__item {
    @include inlineblock(); 
    margin-right: 5px;
//    background-color: red;
    
    &:last-child{
        margin-right: 0;
    }
}

.social__link {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('/img/icon/socials.png');
    background-repeat: no-repeat;
    
    &:last-child{
        margin-right: 0;
    }
}


.social__link_fb {
    width: 31px;
    height: 30px;
    background-position: -5px -5px;
    
    &:hover {
        background-image: url('/img/icon/hover/socials.png');
    }
}

.social__link_tw {
    width: 31px;
    height: 30px;
    background-position: -5px -45px;
    
    &:hover {
        background-image: url('/img/icon/hover/socials.png');
    }
}

.social__link_vk {
    width: 32px;
    height: 30px;
    background-position: -5px -85px;
    
    &:hover {
        background-image: url('/img/icon/hover/socials.png');
    }
}