@import "adjustment.scss"; 

.header {
    @extend %clearfix;
    width: 100%;
    min-height: 60px;
    padding: 10px 0;
    background-color: $white-color;
    @include box-shadow(0, 1px, 3px,rgba(0, 0, 0, 0.2));
    
}

.header__left {
    float: left;
}

.header__right {
    float: right;
}

.avatar-img {
    @include inlineblock();
    @include avatar-round(#bebebe);
    margin-right: 15px;
    
}

.contacts {
    margin-top: 20px;
    position: relative;
}

.contacts-link {
    display: inline-block;
    @extend %font-active;
    color: $blue-color;
    text-decoration: none;
    background: url('/img/bg/contacts_bg.png') repeat-x 0 bottom;
}

.contacts-dropdown {
    display: none;
    position: absolute;
    top: 35px;
    left: -30px;
    margin: 0;
    padding: 0;
    background-color: $white-color;
    border: 1px solid #dedede;
    white-space: nowrap;
    @include border-radius(10px);
}

.contacts-dropdown__item {
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(#5a5a5a, 0.1);
    
    &:last-child{
        border-bottom: none;
    }
}